.blueButton {
   display: flex;
   justify-content: center;
   margin: 25px auto 0;
   padding: 10px 20px;
   color: #fff;
   font-weight: 500;
   font-size: 1rem;
   border-radius: 3px;
   background-color: #00bcd4;
}
